@import "src/config/scss/scss-variables";

.loader {
  border: 16px solid $roverGray;
  border-top: 16px solid $roverRed;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s ease-in-out infinite;
  margin: 5em auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}